<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %msg%n"/>
            <LevelRangeFilter minLevel="FATAL" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
        <File name="File_Logging_Info" fileName="./log/${date:dd-MM-yyyy_HHmm}/root_info.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %C{1}::%M - %msg%n"/>
            <LevelRangeFilter minLevel="FATAL" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <File name="File_Logging_Debug" fileName="./log/${date:dd-MM-yyyy_HHmm}/root_debug.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %C{1}::%M - %msg%n"/>
            <LevelRangeFilter minLevel="FATAL" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <File name="File_Logging_All" fileName="./log/${date:dd-MM-yyyy_HHmm}/root_all.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %C{1}::%M - %msg%n"/>
            <LevelRangeFilter minLevel="FATAL" maxLevel="ALL" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        
        <File name="File_UI" fileName="./log/${date:dd-MM-yyyy_HHmm}/ui.log" append="false">
            <PatternLayout pattern="%msg%n"/>
            <LevelRangeFilter minLevel="FATAL" maxLevel="ALL" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        
        <File name="File_Low_Level_Diff" fileName="./log/${date:dd-MM-yyyy_HHmm}/low_level_diff.log" append="false">
            <PatternLayout pattern="%C{1}::%M - %msg%n"/>
            <LevelRangeFilter minLevel="FATAL" maxLevel="ALL" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File_Logging_Info"/>
            <AppenderRef ref="File_Logging_Debug"/>
            <AppenderRef ref="File_Logging_All"/>
        </Root>
        <Logger name="UI_LOG" level="ALL">
            <AppenderRef ref="File_UI"/>
        </Logger>
        <Logger name="LOW_LEVEL_LOG" level="ALL">
            <AppenderRef ref="File_Low_Level_Diff"/>
        </Logger>
    </Loggers>
</Configuration>